.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);
}

.card {
    background-color: var(--card-bg);
    color: var(--text-color);
    padding: 2rem;
    border-radius: 0.75rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    max-width: 450px;
    border: 1px solid var(--input-border);

}

.infoHeader {
    border-bottom: 1px solid var(--input-border);
    display: flex;
    align-items: center;
    justify-content: center;
}

.infoHeader h4 {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.subTitulo {
    text-align: center;
    margin-bottom: 0.5rem;
}

.subTitulo h5 {
    font-weight: 400;
    color: var(--text-color);
}


.infoInput {
    display: flex;
    flex-direction: column;
}


.infoInput input {
    padding: 0.6rem;
    border-radius: 0.4rem;
    border: 1px solid #ccc;
}

.infoInput input:focus {
    border-color: var(--input-focus);
    outline: none;
    box-shadow: 0 0 0 2px var(--input-focus);
}


.card button {
    background-color: #0d6efd;
    color: white;
    border: none;
    padding: 0.7rem;
    border-radius: 0.4rem;
    cursor: pointer;
}

.card button:hover {
    opacity: 0.9;
}

.card button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
    background-color: #999; 
}

.infoFooter {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    margin: 0;
}

.infoFooter p {
    margin: 0;
}


.link {
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
    color: #0d6efd;
}

.linkLogin {
    color: var(--text-color);
}

.linkLogin:Hover {
    color: #0d6efd;
}

@media (max-width: 1024px) {
    .card {
        max-width: 450px;
        padding: 1.8rem;
    }

    .infoHeader h4 {
        font-size: 1.6rem;
    }

    .subTitulo h5 {
        font-size: 1.4rem;
    }

    .infoInput label {
        font-size: 1.25rem;
    }

    .infoInput input {
        font-size: 1.25rem;
    }

    .card button {
        font-size: 1.15rem;
    }

    .linkLogin {
        font-size: 1.15rem;
    }
}

@media (max-width: 768px) {
    .card {
        max-width: 450px;
        padding: 1.5rem;
    }

    .infoHeader h4 {
        font-size: 1.45rem;
    }

    .subTitulo h5 {
        font-size: 1.30rem;
    }

    .infoInput label {
        font-size: 1.20rem;
    }

    .infoInput input {
        font-size: 1.20rem;
    }

    .card button {
        font-size: 1.10rem;
    }

    .linkLogin {
        font-size: 1.10rem;
    }
}

@media (max-width: 480px) {
    .container {
        padding: 1.2rem;
    }
}
