* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

:root {
  --bg-color: #e1e7ef;
  --text-color: #212529;
  --card-bg: #fff;
  --card-border: #ccc;
  --hover-color: #e5e8f3;
  --menu-color: #475569;
  --menuHover-color: #ccf0d58c;
  --icon-color: #000;
  --input-bg: #eef2f7; 
  --input-border: #cbd5e1;      
  --input-text: #212529;       
  --input-focus: #94a3b8;      
  --li-shandow: #000000bf;
  --categoriaMeta-color: #c8d7e6;
  --metaConcluida-bg: #16a34a23;
  --metaConcluida-color: #006400;
  --metaConcluida-border: #00800047;
  --prazoEncerrado-bg: #dc262623;
  --prazoEncerrado-color: #ba0000;
  --prazoEncerrado-border: #ff000047;
  --orcamento-border: #049b0488;
  --liContaPagar-hover: #e1ecf8;
  --periodo-bg: #e3f7e6;       
  --periodo-hover: #c9efcc;  
  --periodo-active: #198754;
  --btn-close-filter: invert(0%);
}


.dark-theme {
  --bg-color: #1c1f26;
  --text-color: #f8f9fa;
  --card-bg: #16181d;
  --card-border: #333;
  --hover-color: #2a2d3a;
  --menu-color: #94a3b8;
  --menuHover-color: #1a3a2f80;
  --icon-color: #fff;
  --input-bg: #2a2d34;       
  --input-border: #3f434b;      
  --input-text: #f1f5f9;        
  --input-focus: #38bdf8; 
  --li-shandow: #ffffff67;
  --categoriaMeta-color: #0d6efd;
  --metaConcluida-bg: #16a34a26;
  --metaConcluida-color: #4ade80;
  --metaConcluida-border: #22c55e66;
  --prazoEncerrado-bg: #dc262626;
  --prazoEncerrado-color: #f87171;
  --prazoEncerrado-border: #ef444466;
  --orcamento-border: #22c55e66;
  --liContaPagar-hover: #353841;  
  --periodo-bg: #ddebe266;
  --periodo-hover: #7fe0a226;
  --periodo-active: #198754; 
  --btn-close-filter: invert(100%);
}

.form-select {
  appearance: none;          
  -webkit-appearance: none;   
  -moz-appearance: none;     
  background-image: none !important; 
}

.form-select:disabled,
input:disabled {
  background-color: #e9ecef; 
  color: #6c757d; 
  cursor: not-allowed;
  opacity: 1;
}


.dark-theme .form-select:disabled,
.dark-theme input:disabled {
  background-color: #2b2f36;  
  color: #9ca3af; 
  border-color: #3a3f47;
}


hr {
    font-weight: 100;
}

.link {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.mainPage {
  display: flex;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  font-family: var(--font-poppins), sans-serif;
  font-weight: 700; 
}

.menuLateral {
    width: 14rem;
    flex-shrink: 0;
    border-right: 1px solid var(--card-border);
    transition: width 0.1s linear; 
    background-color: var(--card-bg);
}

.menuLateral.collapsed {
    width: 5rem;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 1.5rem;
    border-bottom: 1px solid var(--card-border);
    padding: 0.5rem 1rem;
    height: 4.5rem; 
}

.titleApp {
  margin: 0;
  padding: 0;
  color: var(--text-color);
}

.menuIcon {
    border-radius: 0.5rem;
    padding: 0rem 0.1rem;
    cursor: pointer;
    font-size: 1rem;
}


.menuIconStrongRight,
.menuIconStrongleft {
    text-shadow: 0 0 0.5px currentColor;
    color: var(--text-color);
    padding: 0.5rem 0.5rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    transition: background-color 0.2s ease;
}

.menuIconStrongRight:hover,
.menuIconStrongleft:hover {
    cursor: pointer;
    background-color: var(--hover-color);
}

.menuIconStrongRight {
  border: 0.5px solid var(--card-border);
  border-radius: 50%;
  padding: 0.75rem;
}

.opcoesMenuLateral {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    flex-direction: column;
}

.opcoesMenuLateral li {
    list-style: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    margin: 0.3rem;
    color: var(--menu-color);
    transition: background-color 0.3s ease, color 0.3s ease;
}

li.active {
    background-color: #198754 !important;
    color: #fff;
}

li.noActive:hover {
    background-color: var(--menuHover-color);
    cursor: pointer;
}

.opcoesMenuLateral i {
    font-size: 1.2rem;
    transition: font-size 0.3s ease;
}


.opcoesMenuLateral span {
    margin-left: 0.5rem;
    opacity: 1;
    transition: opacity 0.3s ease;
    white-space: nowrap; 
}

/* --- Tablets e telas médias (até 1024px) --- menuLateral*/
@media (max-width: 1024px) {
  .menuLateral {
    width: 12rem;
  }

  .menuLateral.collapsed {
    width: 4.5rem;
  }

  .opcoesMenuLateral li {
    font-size: 0.95rem;
    padding: 0.4rem 0.8rem;
  }

  .menuIcon {
    font-size: 0.9rem;
  }

  .titleApp {
    font-size: 1rem;
  }

  .logo {
    height: 4rem;
    padding: 0.4rem 0.8rem;
  }
}

/* --- Celulares pequenos (até 480px) --- menuLateral */
@media (max-width: 480px) {
  .menuLateral {
    width: 4rem; 
  }

  .menuLateral.collapsed {
    width: 3.5rem;    
  }

  .logo img {
    width: 32px;
    height: 32px;
  }

  .titleApp {
    display: none;
  }

  .opcoesMenuLateral li span {
    display: none;
  }

  .opcoesMenuLateral i {
    font-size: 1.1rem;
  }

  .menuIcon {
    font-size: 0.9rem;
  }

  .logo {
    display: none;
  }
}



.mainContainer {
  flex: 1;
  display: flex;
  min-width: 0; 
  flex-direction: column;
  transition: all 0.1s linear;
  background-color: #e1e7ef;
  background-color: var(--bg-color);
  overflow-y: auto;
}

.header {
  height: 5rem;
  background-color: var(--card-bg);
  color: var(--text-color);
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header i {
  border: 1px solid #198754;
  color: #fff;
  background-color: #198754;
  font-size: 2rem;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  flex-shrink: 0;
}

.headerInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header h1 {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0;
}

.header p {
  font-size: 0.9rem;
  color: rgb(102, 126, 158);
  font-weight: 500;
  margin: 0.2rem 0 0 0;
}

/* --- Tablets e telas médias (até 1024px) --- header*/
@media (max-width: 1024px) {
  .header {
    display: flex;
    align-items: start;
    height: auto;
    padding: 0.8rem;
    gap: 0.8rem;
  }

  .header i {
    font-size: 1.8rem;
    width: 2.6rem;
    height: 2.6rem;
  }

  .header h1 {
    font-size: 1.1rem;
  }

  .header p {
    font-size: 0.85rem;
  }
}

/* --- Celulares grandes (até 768px) --- header*/
@media (max-width: 768px) {
  .header {
    display: flex;
    align-items: start;
  }

  .header i {
    font-size: 1.6rem;
    width: 2.4rem;
    height: 2.4rem;
  }

  .header h1 {
    font-size: 1rem;
  }

  .header p {
    font-size: 0.8rem;
  }

  .headerInfo{
    align-items: flex-start;
  }
}

/* --- Celulares pequenos (até 480px) --- header*/
@media (max-width: 480px) {
  .header {
    display: flex;
    align-items: start;
    padding: 0.6rem;
    gap: 0.5rem;
  }

  .header i {
    font-size: 1.4rem;
    width: 2.2rem;
    height: 2.2rem;
  }

  .header h1 {
    font-size: 0.95rem;
  }

  .header p {
    font-size: 0.75rem;
  }
}

.modalList {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    padding: 0.5rem;
    justify-content: start;
    overflow: auto;
    max-height: 10rem;
}

.modalList::-webkit-scrollbar {
    width: 0.5rem; 
}

.modalList::-webkit-scrollbar-track {
    background-color: var(--card-bg);
}

.modalList::-webkit-scrollbar-thumb {
    background-color: #828681; 
    border-radius: 0.5rem;
}

.modalList::-webkit-scrollbar-thumb:hover {
    background-color: #828681c9; 
}


.modalItem {
    background-color: var(--periodo-bg) !important;
    list-style: none;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
}


.modalItem:hover {
  background-color: var(--periodo-hover) !important;
  cursor: pointer;
}

.modalItem.active {
  background-color: var(--periodo-active) !important;
  color: #fff !important;
  font-weight: 600;
}

.react-datepicker {
  border: none !important;
  border-radius: 12px !important;
  box-shadow: 0 4px 16px rgba(0,0,0,0.1);
  font-family: "Inter", sans-serif;
  width: 20rem !important;
  height: 21rem !important;
  max-width: 100% !important;   
}

.react-datepicker__month {
  width: 100% !important;
  margin: 0rem !important;
}

.react-datepicker__header {
  background: white !important;
  border-bottom: none !important;
  padding: 12px 0;
  display: flex; 
  justify-content: center; 
  align-items: center; 
  position: relative;
  display: flex !important;
  flex-direction: column  !important;
  width: 20rem !important;
  gap: 0.2rem !important;
}

.react-datepicker__current-month {
  font-size: 1.3rem !important;
  font-weight: 700;
  color: #111827;
  margin: 0; 
}

.react-datepicker__navigation {
  transform: translateY(10%); 
  width: 2rem !important;
  height: 2rem !important;
  display: flex;
  justify-content: start;
  align-items: center;
  border-radius: 0.6rem;
}

.react-datepicker__navigation:hover {
  background: #edf1f8; 
}

.react-datepicker__navigation-icon::before {
  border-color: #111827 !important;
  border-width: 3px 3px 0 0 !important;
  width: 0.6rem !important;
  height: 0.6rem !important;
}

.react-datepicker__day-names {
  display: grid !important;
  grid-template-columns: repeat(7, 1fr);
  width: 100%;
  background-color: #e9e7e7 ;
  }

.react-datepicker__day-name {
  width: 2rem !important;
  height: 2rem !important;
  line-height: 2rem !important;
  font-size: 1rem;
  font-weight: 500;
  color: #9ca3af;
  text-align: center !important; 
}

.react-datepicker__week {
  display: grid !important;
  grid-template-columns: repeat(7, 1fr); 
  width: 100%;
}


.react-datepicker__day {
  width: 2rem !important;   
  height: 2rem !important;
  line-height: 2rem !important;
  margin: 0.3rem !important;
  text-align: center !important;
  border-radius: 0.6rem;
  font-size: 1.1rem;
  color: #374151;
  transition: all 0.2s ease-in-out;
}

.react-datepicker__day:hover {
  background: #f3f4f6;
  cursor: pointer;
}

.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected {
  background: #111827 !important;
  color: white !important;
  font-weight: 600;
  text-align: center !important;
}

.react-datepicker__day--today {
  border: 1px solid #d1d5db;
  border-radius: 0.6rem;
  
}

.react-datepicker__day--outside-month {
  color: #c5c6c7 !important;
  font-weight: 400 !important;
} 

li .btn {
  border: none;
}

.iconTrash {
    width: 2.5rem;
    height: 2.5rem;
    color: #dc2626; 
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 1.2rem;
    transition: background-color 0.2s ease;
    margin-right: 0.2rem;
}

.iconTrash:hover {
    background-color: #eeafaf; 
}

.iconPencil {
    width: 2.5rem;
    height: 2.5rem;
    color: #0d6efd; 
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 1.2rem;
    transition: background-color 0.2s ease;
}

.iconPencil:hover {
    background-color: #a5c8ff; 
}

.iconArrowDown {
    width: 2.3rem;
    height: 2.3rem;
    background-color: #fca5a5; 
    color: #dc2626;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
}

.iconArrowUp {
    width: 2.3rem;
    height: 2.3rem;
    background-color: #86efac; 
    color: #16a34a;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
}

.modal-content {
  background-color: var(--card-bg) !important;
  border: 1px solid var(--card-border) !important;
  color: var(--text-color) !important;
}

.modal-header button {
  color: red !important;
}

.modal-header button:hover {
  color: red !important;
}

.btn-close {
  filter: var(--btn-close-filter) !important;
  opacity: 0.8;
}