.main {
    padding: 1.2rem;
}

.cardFiltro {
    background-color: var(--card-bg);
    border: 1px solid var(--card-border);
    color: var(--text-color);
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    gap: 3rem;
    width: 100%;
}

.cardFiltro i {
    color: #0d6efd;
}

.containerFiltro {
    display: flex;
    width: 100%;
    gap: 2rem;
}

.containerFiltro form {
    flex: 1;
}

.groupInputs {
    display: flex;
    gap: 1rem;
    width: 100%;
    flex: 1;
}

.inputPesquisar {
    position: relative;
    display: flex;
    align-items: center;
    width: 60%;
}

.inputPesquisar i {
    position: absolute;
    left: 1rem;
    font-size: 1rem;
}

.inputPesquisar input {
    width: 100%;
    padding: 0.5rem 0.5rem 0.5rem 2.5rem;
    background-color: var(--input-bg);
    border: 1px solid var(--input-border);
    color: var(--input-text);
    border-radius: 0.5rem;
    font-size: 1rem;
    
}

.inputPesquisar input:focus {
    border-color: var(--input-focus);
    outline: none;
    box-shadow: 0 0 0 2px var(--input-focus);
}

.inputPeriodo {
    position: relative;
    display: flex;
    align-items: center;
    width: 50%;
}

.inputPeriodo i {
    margin-left: 1rem;
    font-size: 1rem;
    color: var(--icon-color);
}

.inputPeriodo button {
    width: 100%;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    border: 1px solid var(--input-border);
    background-color: var(--input-bg);
    color: var(--input-text);
    border-radius: 0.5rem;
    font-size: 1rem;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.containerDate {
    display: flex;
    align-items: center;
    border: 1px solid var(--input-border);
    justify-content: space-between;
    border-radius: 0.4rem;
    padding: 0.2rem 0.34rem; 
}

.inputDate {
    border: none;
    border-radius: 0.4rem;
    font-size: 1.1rem;
    padding: 0.4rem;
    width: 26.5rem;
    background-color: var(--input-bg);
    color: var(--text-color);
    padding-left: 1rem;
}

.containerDate input:focus {
    border-color: var(--input-focus);
    outline: none;
    box-shadow: 0 0 0 2px var(--input-focus);
}

.inputCategoria {
    position: relative;
    display: flex;
    align-items: center;
}

.inputCategoria button {
    width: 13rem;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    border: 1px solid var(--input-border);
    background-color: var(--input-bg);
    color: var(--input-text);
    border-radius: 0.5rem;
    font-size: 1rem;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inputCategoria i {
    margin-left: 1rem;
    font-size: 1rem;
    color: var(--icon-color);
}

.cardTransacoes {
    background-color: var(--card-bg); 
    border: 1px solid var(--card-border);
    margin-top: 2rem;
    padding: 1.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    width: 100%;
}

.cardTransacoes h3 {
    color: var(--text-color);
    margin-bottom: 1rem;
}

.cardTransacoes p {
    font-size: 1.5rem;
    text-align: center;
    color: var(--li-shandow);
}

.listaTransacoes {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem; 
    overflow: auto;
    max-height: 23rem;
}

.listaTransacoes::-webkit-scrollbar {
    width: 0.5rem; 
}

.listaTransacoes::-webkit-scrollbar-track {
    background-color: var(--card-bg);
}

.listaTransacoes::-webkit-scrollbar-thumb {
    background-color: #828681; 
    border-radius: 0.5rem;
}

.listaTransacoes::-webkit-scrollbar-thumb:hover {
    background-color: #828681c9; 
}


.itemTransacao {   
    background-color: var(--input-bg);
    border-radius: 0.5rem;
    min-height: 3rem;
    gap: 1rem;
    margin-right: 0.5rem;
    border: .5px solid var(--input-border);
}

.itemTransacao:hover {   
    box-shadow: 0px 5px 16px -11px var(--li-shandow);
    background-color: var(--liContaPagar-hover);
}

.infoTransacao {
    display: flex;
    justify-content: space-between; 
    width: 100%;
    align-items: center;
    padding: 0rem 0.5rem;
}

.ladoEsquerdoTransacao {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}


.textosTransacao {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-right: 1rem;
}

.textosTransacao h6 {
    margin: 0;
    font-weight: 600;
    font-size: 1.2rem;
    color: var(--text-color);
}

.textosTransacao p {
    margin: 0;
    font-size: 0.8rem;
    color: var(--menu-color);
    text-align: start;
}

.dataTransacao {
    display: flex; 
    height: 2.3rem;
}

.dataTransacao span {
    font-size: 0.75rem;
    color: var(--menu-color);
}

.ladoDireitoTransacao {
    display: flex;
    align-items: center;
    height: 3rem;
    margin-right: 2rem;
}

.valorTransacao {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.valorTransacao h5 {
    margin: 0;
    font-size: 1.4rem;
    font-weight: 600;
}

.vermelhoTextoValor {
    color: #dc2626; 
}

.verdeTextoValor {
    color: #16a34a;

}

